<div class="headerContainer">
  <div id="menu-first-row" class="header-with-shadow rounded shadow-md ">
    <div class="all-left-menus flex">
      <div class="menus left-menu  rounded-lg flex items-center justify-between w-full">
        <!-- logo -->
        <div class="header">
          <div class="flex items-center logo">
            <a class="logo-Image" alt="Logo" href="/home"></a>
            <h1 class="ml-2 text-2xl font-bold leading-tight header-font">
              Digital Channel Automation System
            </h1>
          </div>
        </div>
        <div class="separator px-0.1 my-10 mx-5"></div>
        <!-- logo end -->
        <!-- left Menu -->
        <div class="pl-1 flex-grow flex justify-center left-menu-items">
          <ul class="flex items-center list-none space-x-4    text-1xl ">
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['home']">Home</a>
              </button>
            </li>
            <li class="flex-grow" *ngIf="authService.currentUser$ | async as user">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['resources/news']">News</a>
              </button>
            </li>
            <li class="flex-grow" *ngIf="authService.currentUser$ | async as user">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['resources/files']">Resources</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['about-us']">About</a>
              </button>
            </li>
            <li class="flex-grow">
              <button class="learn-more">
                <a class="button-text hover:font-bold" routerLinkActive="nav-link active"
                  [routerLink]="['contact-us']">Contact</a>
              </button>
            </li>
          </ul>
        </div>
        <!-- left menu end -->
      </div>
      <!-- Right Menu -->
      <div class="menu right-menu flex justify-end rounded  ">
        <ul class="menu menuitems">
          <!--<li class="notification w-full"  *ngIf="isAdmin && isLoggedIn" >
            <a routerLinkActive="active" [routerLink]="['notifications']" class="btn text-white font-bold">
              <button class="button w-full"><mat-icon class="textxl">notification_important</mat-icon> </button>
            </a>
          </li>-->
          <ng-container *ngIf="(authService.currentUser$ | async) === null">
            <a routerLinkActive="active" [routerLink]="['user/login']" class="btn text-white font-bold">
              <button class="button w-full">Login </button>
            </a>
          </ng-container>
          <!-- <li class="donation w-full" *ngIf="!isLoggedIn">
            <a routerLinkActive="active" [routerLink]="['user/login']" class="btn text-white font-bold">
              <button class="button w-full">Login </button>
            </a>
          </li> -->

          <ng-container *ngIf="authService.currentUser$ | async as user">
            <div class=" " style="cursor: pointer;">
              <a class="flex flex-row">
                <strong>Welcome {{user.displayName | uppercase }}</strong>
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                  <mat-icon>more_vert</mat-icon>
                </button>
              </a>
              <mat-menu #menu="matMenu">
                <li class="py-1" mat-menu-item (click)="authService.logout()" >
                  <a class="button-text hover:font-bold" >
                    <button class="button w-full"> <mat-icon class="button-text text-red-600 hover:font-bold">logout</mat-icon>Logout </button>
                  </a>
                </li>
              </mat-menu>
            </div>
          </ng-container>
          <!-- <li class="donation w-full" *ngIf="isLoggedIn">
            <h6 *ngIf="user">Hello, {{user }}</h6>
            <a routerLinkActive="active" (click)="logout()" class="btn text-white font-bold">
              <button class="button w-full">Logout</button>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
