<section class=" rounded mt-4">
  <div>
    <h3 class="pt-10 pb-5 text-emerald-900 text-3xl font-bold pl-8">FAQs</h3>
  </div>
  <div class="p-16">


<mat-accordion>
  <mat-expansion-panel *ngFor="let faq of faqs; let i = index" [expanded]="i === expandedIndex">
    <mat-expansion-panel-header (click)="toggleAccordion(i)" class="header h-full">
      <mat-panel-title class="text-left p-2 text-1xl font-bold">
        {{ faq.question }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description class="text-left p-4">
      {{ faq.answer }}
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
  </div>

</section>
