<section class="pt-2 px-2">
  <div *ngIf="!products" class="pt-16">
    <app-loading></app-loading>
  </div>
  <section class="hero-section bg-cover bg-center">
    <div class="hero-content text-left pt-8 pb-8">
      <h2 class="text-4xl font-bold text-red-700">Manage Zemen's IB Shared Resources</h2>
    </div>
  </section>
  <div class="flex justify-end pr-16">
    <app-add-new-button buttonText="Add Resource File" [routerLink]="['../files/add']"></app-add-new-button>
  </div>
  <div *ngIf="products">
    <section>
      <div>
        <table mat-table matSort [dataSource]="products" class="min-w-fullf bg-white border border-gray-900">
          <ng-container matColumnDef="id" class="text-center">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">ID</th>
            <td mat-cell *matCellDef="let product; let i=index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="fileTitle">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Name
            </th>
            <td mat-cell *matCellDef="let product">{{ product.fileTitle }}</td>
          </ng-container>
          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">File Name</th>
            <td mat-cell *matCellDef="let product"> {{product.fileName}}
            </td>
          </ng-container>
          <ng-container matColumnDef="fileDescription"  >
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold"  >fileDescription</th>
            <td mat-cell *matCellDef="let product"   class="truncate"> <textarea [disabled]="true" cols="30" rows="5"> {{ product.fileDescription }}</textarea></td>
          </ng-container>

          <ng-container matColumnDef="fileType">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              File Type
            </th>
            <td mat-cell *matCellDef="let product">{{ getFileType(product.fileType) }}</td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Created At
            </th>
            <td mat-cell *matCellDef="let product">{{ product.created_at | date}}</td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Updated At
            </th>
            <td mat-cell *matCellDef="let product">{{ product.updated_at | date}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">Action</th>
            <td mat-cell *matCellDef="let product" class="py-2">
              <button mat-icon-button (click)="openFileDetail(product.id)" class="focus:outline-none">
                <mat-icon class="text-orange-600 ">visibility</mat-icon>
              </button>
              <button mat-icon-button routerLink="/resources/files/{{product.id}}/update" class="focus:outline-none">
                <mat-icon class="text-yellow-500">edit</mat-icon>
              </button>
              <button mat-icon-button  (click)="DownloadFile(product.id)" class="focus:outline-none">
                <mat-icon class="text-blue-500">download</mat-icon>
              </button>
              <button mat-icon-button  (click)="shareThisFile(product.id)" class="focus:outline-none">
                <mat-icon class="text-blue-800">share</mat-icon>
              </button>
              <button mat-icon-button (click)="openConfirmationDialog(product.id)" class="focus:outline-none">
                <mat-icon class="text-red-500">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="text-center"></tr>
          <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>
        </table>
      </div>
    </section>
