<section class=" px-16">
  <div class="flex">
    <section class="body-wrapper w-full align-center text-center px-16">
      <div class="container  px-4">
        <div class="container mx-auto px-4 py-8">
          <div class="flex items-center justify-between mb-4">
            <h2 class="text-2xl font-bold">Resource Lists</h2>
            <button mat-raised-button color="primary" class="ml-2" routerLink="/create">Add
              Resource</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<section>
  <div>
    <section>
      <div>
        <table mat-table matSort [dataSource]="products" class="min-w-full bg-white border border-gray-200">
          <ng-container matColumnDef="id" class="text-center">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">ID</th>
            <td mat-cell *matCellDef="let product">{{ product.id }}</td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Name
            </th>
            <td mat-cell *matCellDef="let product">{{ product.title }}</td>
          </ng-container>
          <ng-container matColumnDef="filename">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">File Name</th>
            <td mat-cell *matCellDef="let product">
              <img [src]="product.filename" alt="Product Image" class="w-16 h-16">
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">Description</th>
            <td mat-cell *matCellDef="let product">{{ product.description }}</td>
          </ng-container>
          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              size
            </th>
            <td mat-cell *matCellDef="let product">{{ product.size }}</td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Category
            </th>
            <td mat-cell *matCellDef="let product">{{ product.category.name }}</td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Created At
            </th>
            <td mat-cell *matCellDef="let product">{{ product.created_at }}</td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold" mat-sort-header disableClear>
              Updated At
            </th>
            <td mat-cell *matCellDef="let product">{{ product.updated_at }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center font-bold">Action</th>
            <td mat-cell *matCellDef="let product" class="py-2">
              <button mat-icon-button (click)="editProduct(product.id)" class="focus:outline-none">
                <mat-icon class="text-blue-500">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteProduct(product.id)" class="focus:outline-none">
                <mat-icon class="text-red-500">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="text-center"></tr>
          <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>
          <!-- </mat-table> -->
        </table>
      </div>
    </section>
