 <app-loading *ngIf="!fileDetails"></app-loading>
<div class="file-detail-dialog bg-white p-6 rounded-lg shadow-md" *ngIf="fileDetails">
  <h2 class="text-2xl font-bold mb-4">File Detail</h2>
  <div class="flex flex-col">
    <label class="text-lg mb-1">File Title:</label>
    <p>{{ fileDetails.fileTitle }}</p>
  </div>
  <div class="flex flex-col" style="max-width: 600px !important; white-space: wrap;">
    <label class="text-lg mb-1">File Description:</label>
    <textarea [disabled]="true" cols="30" rows="10" class="whitespace-pre-wrap">{{ fileDetails.fileDescription  }}</textarea>
  </div>
  <div class="flex flex-col">
    <label class="text-lg mb-1">File Name:</label>
    <p>{{ fileDetails.fileName }}</p>
  </div>

  <div class="flex justify-between mt-6">
    <button mat-button color="primary" (click)="editFile(fileDetails.id)">Edit</button>
    <button mat-button color="primary" (click)="shareFile()">Share</button>
    <button mat-button color="primary" (click)="downloadFile()">Download</button>
    <button mat-button color="warn" (click)="openConfirmationDialog()">Delete</button>
  </div>
</div>
