<!-- assignment.component.html -->
<div class="p-4">
  <h2 class="text-lg font-semibold mb-4">Assign Licenses to this Manager</h2> 
  <div *ngFor="let license of licenses">
    <li class="flex items-center mb-2" >
      <label class="flex items-center">
        <input  class="dark:border-white-400/20 dark:scale-50 transition-all duration-500 ease-in-out dark:hover:scale-110 dark:checked:scale-100 w-8 h-8"
        type="checkbox" [(ngModel)]="license.selected" [value]="license.id">
        <span class="ml-2 semi-bold text-l ">{{ license.issuedTo }}  -- {{ license.issuedBy }} -- <span class="italic">{{license.softwareProduct.name}}</span></span>
      </label>
    </li>
  </div>
</div>
<div class="p-4 bg-gray-100 flex justify-end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="assignLicenses()">Assign</button>
</div>
