
  <section class="hero-section bg-cover bg-center">
    <div class="hero-content text-left pt-8 pb-8">
      <h2 class="text-4xl font-bold text-red-700">Create License</h2>
    </div>
  </section>

<form [formGroup]="licenseForm" (ngSubmit)="onSubmit()" class="p-4 bg-white shadow-md rounded-lg">

  <div class="flex space-x-4">
    <mat-form-field appearance="outline" class="w-1/2">
      <mat-label>Issued To</mat-label>
      <input matInput formControlName="issuedTo">

      <mat-error *ngIf="licenseForm.controls['issuedTo']?.invalid && (licenseForm.controls['issuedTo'].dirty || licenseForm.controls['issuedTo'].touched)">
        <span *ngIf="licenseForm.controls['issuedTo'].hasError('required')">Issued To is required.</span>
        <span *ngIf="licenseForm.controls['issuedTo'].hasError('minlength')">
          Issued To should be at least 3
          characters long.
        </span>
      </mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline" class="w-1/2">
      <mat-label>Issued By</mat-label>
      <input matInput formControlName="issuedBy">

      <mat-error *ngIf="licenseForm.controls['issuedBy']?.invalid && (licenseForm.controls['issuedBy'].dirty || licenseForm.controls['issuedBy'].touched)">
        <span *ngIf="licenseForm.controls['issuedBy'].hasError('required')">Issued By is required.</span>
        <span *ngIf="licenseForm.controls['issuedBy'].hasError('minlength')">
          Issued By should be at least 3
          characters long.
        </span>
      </mat-error>

    </mat-form-field>
</div>


<div class="flex space-x-4">
  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Creation Date</mat-label>
    <input matInput [matDatepicker]="picker"  formControlName="creationDate" name="creationDate" required>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="licenseForm.controls['creationDate']?.invalid && (licenseForm.controls['creationDate'].dirty || licenseForm.controls['creationDate'].touched)">
      <span *ngIf="licenseForm.controls['creationDate'].hasError('required')">Creation Date is required.</span>
    </mat-error>
  </mat-form-field>
 
  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Expiration Date</mat-label>
    <input matInput [matDatepicker]="picker1"  formControlName="expirationDate" name="expirationDate" required>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>

    <mat-error *ngIf="licenseForm.controls['creationDate']?.invalid && (licenseForm.controls['creationDate'].dirty || licenseForm.controls['creationDate'].touched)">
      <span *ngIf="licenseForm.controls['creationDate'].hasError('required')">Expiration Date is required.</span>
    </mat-error>
  </mat-form-field>
</div>

<div class="flex space-x-4">
  <mat-form-field appearance="outline" class="w-1/2">
    <mat-label>Max Users</mat-label>
    <input matInput type="number" formControlName="maxUsers" placeholder="Max Users">

    <mat-error *ngIf="licenseForm.controls['maxUsers']?.invalid && (licenseForm.controls['maxUsers'].dirty || licenseForm.controls['maxUsers'].touched)">
      <span *ngIf="licenseForm.controls['maxUsers'].hasError('required')">Max Users is required.</span>
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline" class="w-1/2">
      <mat-label>License Type</mat-label>
      <mat-select formControlName="licenseType">
        <mat-option *ngFor="let type of licenseTypes" [value]="type.value">{{ type.text }}</mat-option>
      </mat-select>
      <mat-error *ngIf="licenseForm.controls['licenseType']?.invalid && (licenseForm.controls['licenseType'].dirty || licenseForm.controls['licenseType'].touched)">
        <span *ngIf="licenseForm.controls['licenseType'].hasError('required')">License Type is required.</span>
      </mat-error>
   </mat-form-field>

    <!-- <mat-label>License Type</mat-label>
    <input matInput formControlName="licenseType" placeholder="License Type">
    <mat-error *ngIf="licenseForm.controls['licenseType']?.invalid && (licenseForm.controls['licenseType'].dirty || licenseForm.controls['licenseType'].touched)">
      <span *ngIf="licenseForm.controls['licenseType'].hasError('required')">License Type is required.</span>
    </mat-error>
  </mat-form-field> -->
</div>

<div class="flex space-x-4">
  <mat-form-field appearance="outline" class=" w-1/2">
    <mat-label>Software Product</mat-label>
    <mat-select id="softwareProduct" formControlName="softwareProductId">
      <mat-option *ngFor="let product of softwareProducts" [value]="product.id">{{ product.name }}</mat-option>
    </mat-select>
    <mat-error *ngIf="licenseForm.controls['softwareProduct']?.invalid && (licenseForm.controls['softwareProduct'].dirty || licenseForm.controls['softwareProduct'].touched)">
      <span *ngIf="licenseForm.controls['softwareProduct'].hasError('required')">License Type is required.</span>
    </mat-error>
  </mat-form-field>
  <div class="flex space-x-4 w-1/2 border border-gray-400 rounded mb-4">
    <div class="w-full">
      <label class="mat-label">Environment</label>
      <mat-radio-group formControlName="activated" class="w-full">
        <mat-radio-button value="UAT">UAT</mat-radio-button>
        <mat-radio-button value="PROD">PROD</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="licenseForm.controls['activated']?.invalid && (licenseForm.controls['activated'].dirty || licenseForm.controls['activated'].touched)">
        <span *ngIf="licenseForm.controls['activated'].hasError('required')">Environment is required.</span>
      </mat-error>
    </div>
  </div>

  <!--<mat-form-field appearance="outline" class="w-full">
    <mat-label>Environment</mat-label>
    <mat-radio-group formControlName="activated">
      <mat-radio-button value="UAT" class="w-full">UAT</mat-radio-button>
      <mat-radio-button value="PROD" class="w-full">PROD</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="licenseForm.controls['activated']?.invalid && (licenseForm.controls['activated'].dirty || licenseForm.controls['activated'].touched)">
      <span *ngIf="licenseForm.controls['activated'].hasError('required')">Environment is required.</span>
    </mat-error>
  </mat-form-field>--> 
</div>

<div class="flex space-x-4">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="notes" ></textarea>
          </mat-form-field>
</div>

<div class="mt-4">
    <div class="flex justify-end">
      <button class="bg-red-500 hover:bg-red-700 text-white font-semi-bold py-2 px-4 rounded" type="submit">
        Submit</button>
    </div>
  </div>
</form> 
