<form class="example-form" [formGroup]="licenseForm">
  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>License Key</mat-label>
    <input matInput formControlName="licenseKey" required>
    <!-- <mat-error *ngIf="licenseForm.get('licenseKey').invalid && licenseForm.get('licenseKey').touched"> -->
      <!-- License key is required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>Activation Status</mat-label>
    <mat-select formControlName="activationStatus" required>
      <mat-option value="Active">Active</mat-option>
      <mat-option value="Inactive">Inactive</mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="licenseForm.get('activationStatus').invalid && licenseForm.get('activationStatus').touched"> -->
      <!-- Activation status is required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>Expiration Date</mat-label>
    <input matInput [matDatepicker]="expirationDate" formControlName="expirationDate" required>
    <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
    <mat-datepicker #expirationDate></mat-datepicker>
    <!-- <mat-error *ngIf="licenseForm.get('expirationDate').invalid && licenseForm.get('expirationDate').touched"> -->
      <!-- Expiration date is required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>Assigned Users</mat-label>
    <input matInput formControlName="assignedUsers" required>
    <!-- <mat-error *ngIf="licenseForm.get('assignedUsers').invalid && licenseForm.get('assignedUsers').touched"> -->
      <!-- Assigned users are required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>Software Product</mat-label>
    <input matInput formControlName="softwareProduct" required>
    <!-- <mat-error *ngIf="licenseForm.get('softwareProduct').invalid && licenseForm.get('softwareProduct').touched"> -->
      <!-- Software product is required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>Agreement Start Date</mat-label>
    <input matInput [matDatepicker]="agreementStartDate" formControlName="agreementStartDate" required>
    <mat-datepicker-toggle matSuffix [for]="agreementStartDate"></mat-datepicker-toggle>
    <mat-datepicker #agreementStartDate></mat-datepicker>
    <!-- <mat-error *ngIf="licenseForm.get('agreementStartDate').invalid && licenseForm.get('agreementStartDate').touched"> -->
      <!-- Agreement start date is required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline" class="mx-2 p-4 block">
    <mat-label>Agreement End Date</mat-label>
    <input matInput [matDatepicker]="agreementEndDate" formControlName="agreementEndDate" required>
    <mat-datepicker-toggle matSuffix [for]="agreementEndDate"></mat-datepicker-toggle>
    <mat-datepicker #agreementEndDate></mat-datepicker>
    <!-- <mat-error *ngIf="licenseForm.get('agreementEndDate').invalid && licenseForm.get('agreementEndDate').touched"> -->
      <!-- Agreement end date is required. -->
    <!-- </mat-error> -->
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="licenseForm.invalid">
      Save License
    </button>
  </div>
</form>
