<mat-card class="mat-card">
  <mat-card-header class="row header-info">
    <div class="title-container">
      <h2 class="text-3xl p-4">Bankworld Process</h2>
    </div>
  </mat-card-header>
  <mat-card-content class="mat-car-content">
    <section class="all-container">
      <section class="list-container">
        <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
          <section class="basic-working-container">
            <div class="basic-working-form-container">
             
                  <mat-stepper orientation="vertical" [linear]="false" #stepper>
              <mat-step> 
                <table class="table align-middle text-nowrap">
                <thead>
                  <tr>
                    <th class="text-dark font-medium fs-4">NO.</th>
                    <th class="text-dark font-medium fs-4">
                      BW Processes & Service List
                    </th>
                    <th class="text-dark font-medium fs-4">Status</th>
                    <th class="text-dark font-medium fs-4">Checking Time</th>
                    <th class="text-dark font-medium fs-4">Remark</th>
                  </tr>
                </thead>
                <tbody>
                      <ng-template matStepLabel>
                        {{                        sections[0].section
                      }}</ng-template>
                      <tr
                        *ngFor="
                          let bwProcessService of sections[0].items;
                          let i = index
                        "
                      >
                        <td>
                          <h3>{{ bwProcessService["NO"] }}</h3>
                        </td>
                        <td
                          class="fs-4"
                          style="width: 300px; white-space: pre-wrap"
                        >
                          {{ bwProcessService["checkListItem"] }}
                        </td>
                        <td class="flex justify-between">
                          <div class="radio m-1">
                            <input
                              type="radio"
                              [name]="bwProcessService['Name']"
                              [value]="true"
                              label="Yes"
                              [(ngModel)]="bwProcessService.isSelected"
                            />
                          </div>
                          <div class="radio m-1">
                            <input
                              type="radio"
                              [name]="bwProcessService['Name']"
                              [value]="false"
                              label="NO"
                              [(ngModel)]="bwProcessService.isSelected"
                            />
                          </div>
                        </td>
                        <td>
                          <input type="time" />
                        </td>
                        <td class="border-spacing-2">
                          <textarea
                            rows="2"
                            cols="52"
                            class="border-solid border-2 border-gray-500 rounded"
                          ></textarea>
                        </td>
                      </tr>

                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                      </tbody></table>
              </mat-step>

              <mat-step>
                      <ng-template matStepLabel
                        >{{sections[1].section}}</ng-template
                      >
                      <table class="table align-middle text-nowrap">
                        <thead>
                          <tr>
                            <th class="text-dark font-medium fs-4">NO.</th>
                            <th class="text-dark font-medium fs-4">
                              BW Processes & Service List
                            </th>
                            <th class="text-dark font-medium fs-4">Status</th>
                            <th class="text-dark font-medium fs-4">Checking Time</th>
                            <th class="text-dark font-medium fs-4">Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                              <ng-template matStepLabel>
                                {{                        sections[1].section
                              }}</ng-template>
                              <tr
                                *ngFor="
                                  let bwProcessService of sections[1].items;
                                  let i = index
                                "
                              >
                                <td>
                                  <h3>{{ bwProcessService["NO"] }}</h3>
                                </td>
                                <td
                                  class="fs-4"
                                  style="width: 300px; white-space: pre-wrap"
                                >
                                  {{ bwProcessService["checkListItem"] }}
                                </td>
                                <td class="flex justify-between">
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="true"
                                      label="Yes"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="false"
                                      label="NO"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                </td>
                                <td>
                                  <input type="time" />
                                </td>
                                <td class="border-spacing-2">
                                  <textarea
                                    rows="2"
                                    cols="52"
                                    class="border-solid border-2 border-gray-500 rounded"
                                  ></textarea>
                                </td>
                              </tr>
                              </tbody></table>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
              </mat-step>

              <mat-step>
                      <ng-template matStepLabel>{{sections[2].section}}</ng-template>
                      <table class="table align-middle text-nowrap">
                        <thead>
                          <tr>
                            <th class="text-dark font-medium fs-4">NO.</th>
                            <th class="text-dark font-medium fs-4">
                              BW Processes & Service List
                            </th>
                            <th class="text-dark font-medium fs-4">Status</th>
                            <th class="text-dark font-medium fs-4">Checking Time</th>
                            <th class="text-dark font-medium fs-4">Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                              <ng-template matStepLabel>
                                {{                        sections[2].section
                              }}</ng-template>
                              <tr
                                *ngFor="
                                  let bwProcessService of sections[2].items;
                                  let i = index
                                "
                              >
                                <td>
                                  <h3>{{ bwProcessService["NO"] }}</h3>
                                </td>
                                <td
                                  class="fs-4"
                                  style="width: 300px; white-space: pre-wrap"
                                >
                                  {{ bwProcessService["checkListItem"] }}
                                </td>
                                <td class="flex justify-between">
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="true"
                                      label="Yes"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="false"
                                      label="NO"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                </td>
                                <td>
                                  <input type="time" />
                                </td>
                                <td class="border-spacing-2">
                                  <textarea
                                    rows="2"
                                    cols="52"
                                    class="border-solid border-2 border-gray-500 rounded"
                                  ></textarea>
                                </td>
                              </tr>
                              </tbody></table>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
              </mat-step>
                    
              <mat-step>
                      <ng-template matStepLabel>{{sections[3].section}}</ng-template>
                      <table class="table align-middle text-nowrap">
                        <thead>
                          <tr>
                            <th class="text-dark font-medium fs-4">NO.</th>
                            <th class="text-dark font-medium fs-4">
                              BW Processes & Service List
                            </th>
                            <th class="text-dark font-medium fs-4">Status</th>
                            <th class="text-dark font-medium fs-4">Checking Time</th>
                            <th class="text-dark font-medium fs-4">Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                              <ng-template matStepLabel>
                                {{                        sections[3].section
                              }}</ng-template>
                              <tr
                                *ngFor="
                                  let bwProcessService of sections[3].items;
                                  let i = index
                                "
                              >
                                <td>
                                  <h3>{{ bwProcessService["NO"] }}</h3>
                                </td>
                                <td
                                  class="fs-4"
                                  style="width: 300px; white-space: pre-wrap"
                                >
                                  {{ bwProcessService["checkListItem"] }}
                                </td>
                                <td class="flex justify-between">
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="true"
                                      label="Yes"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="false"
                                      label="NO"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                </td>
                                <td>
                                  <input type="time" />
                                </td>
                                <td class="border-spacing-2">
                                  <textarea
                                    rows="2"
                                    cols="52"
                                    class="border-solid border-2 border-gray-500 rounded"
                                  ></textarea>
                                </td>
                              </tr>
                              </tbody></table>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
              </mat-step>

              <mat-step>
                      <ng-template matStepLabel>{{sections[4].section}}</ng-template>
                      <table class="table align-middle text-nowrap">
                        <thead>
                          <tr>
                            <th class="text-dark font-medium fs-4">NO.</th>
                            <th class="text-dark font-medium fs-4">
                              BW Processes & Service List
                            </th>
                            <th class="text-dark font-medium fs-4">Status</th>
                            <th class="text-dark font-medium fs-4">Checking Time</th>
                            <th class="text-dark font-medium fs-4">Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                              <ng-template matStepLabel>
                                {{                        sections[3].section
                              }}</ng-template>
                              <tr
                                *ngFor="
                                  let bwProcessService of sections[3].items;
                                  let i = index
                                "
                              >
                                <td>
                                  <h3>{{ bwProcessService["NO"] }}</h3>
                                </td>
                                <td
                                  class="fs-4"
                                  style="width: 300px; white-space: pre-wrap"
                                >
                                  {{ bwProcessService["checkListItem"] }}
                                </td>
                                <td class="flex justify-between">
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="true"
                                      label="Yes"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                  <div class="radio m-1">
                                    <input
                                      type="radio"
                                      [name]="bwProcessService['Name']"
                                      [value]="false"
                                      label="NO"
                                      [(ngModel)]="bwProcessService.isSelected"
                                    />
                                  </div>
                                </td>
                                <td>
                                  <input type="time" />
                                </td>
                                <td class="border-spacing-2">
                                  <textarea
                                    rows="2"
                                    cols="52"
                                    class="border-solid border-2 border-gray-500 rounded"
                                  ></textarea>
                                </td>
                              </tr>
                              </tbody></table>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
              </mat-step>
                    
              <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">
                          Reset
                        </button>
                      </div>
              </mat-step>
                    
              <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">
                          Reset
                        </button>
                      </div>
              </mat-step>
                    
              <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">
                          Reset
                        </button>
                      </div>
              </mat-step>
              
            </mat-stepper>
                <!-- </tbody>
              </table> -->
            </div>
          </section>
          <div>
            <div class="flex justify-end">
              <button
                type="submit"
                class="button-40 text-white flex justify-end"
              >
                save
              </button>
            </div>
          </div>
        </form>
      </section>
    </section>
  </mat-card-content>
</mat-card>
