<section class="p-4">
  <section class="hero-section bg-cover bg-center">
    <div class="hero-content text-left pt-8 pb-8">
      <h2 class="text-4xl font-bold text-red-700">License Managers Information</h2>
    </div>
  </section>

  <div class="flex justify-between items-center m-4">
    <div class="text-gray-600">
      <p class="pl-4">The typical order would be: Software Product -> License Manager (Optional) -> License.</p>
    </div>
    <app-add-new-button buttonText="Add New Manager" (click)="addNewManager()"></app-add-new-button>
  </div>
  <app-list-license-manager></app-list-license-manager>
</section>



