<section class="pt-2 px-2">
  <div class="flex">
    <section class="body-wrapper w-full align-left text-left px-4">
      <div class="header-container text-left align-left p-4  rounded shadow-md ">
        <h2 class="text-2xl font-bold mb-4 text-left" mat-dialog-title>{{ isEditMode ? 'Edit Post' : 'Add Post' }}</h2>
      </div>
      <div class=" gap-4 p-4">

        <form #newsForm="ngForm" >
          <div>
            <label for="title" class="block text-lg mb-2">Title:</label>
            <input type="text" name="title" id="title" class="w-full border border-gray-300 rounded-md p-2"
                   [(ngModel)]="post.title" minlength="5" required />

            <mat-error *ngIf="newsForm.controls['title'].invalid && (newsForm.controls['title'].dirty || newsForm.controls['title'].touched)">
              <span *ngIf="newsForm.controls['title'].hasError('required')">Title is required.</span>
              <span *ngIf="newsForm.controls['title'].hasError('minlength')">
                Title should be at least 5
                characters long.
              </span>
            </mat-error>

          </div>

          <div>
            <label for="featuredImage" name="featuredImage" class="block text-lg mb-2">Featured Image:</label>
            <input type="file" id="featuredImage" class="p-2" (change)="handleImageUpload($event)" accept="image/*" required /> 
            <img [src]="imagePreview" alt="Selected Image" *ngIf="imagePreview" class="w-64 h-64 p-2 rounded" />
          </div>
          <div class="col-span-2">
            <label for="content" class="block text-lg mb-2">Content:</label>
            <textarea name="content" id="content" class="w-full h-40 border border-gray-300 rounded-md p-2"
                      [(ngModel)]="post.content" minlength="10" required></textarea>

            <mat-error *ngIf="newsForm.controls['content'].invalid && (newsForm.controls['content'].dirty || newsForm.controls['content'].touched)">
              <span *ngIf="newsForm.controls['content'].hasError('required')">Content is required.</span>
              <span *ngIf="newsForm.controls['content'].hasError('minlength')">
                Content should be at least 10
                characters long.
              </span>
            </mat-error>

          </div>

          <div class="flex justify-end pr-16">
            <app-add-new-button buttonText="{{ isEditMode ? 'Update Post' : 'Submit Post'}}"
                                (click)="submitPost()"></app-add-new-button>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>
