<section class="pt-2 px-2">
  <div class="flex">
    <section class="body-wrapper w-full align-left text-left px-4">
      <div class="header-container text-left align-left p-4  rounded shadow-md ">
        <h2 class="text-2xl font-bold mb-4 text-left" mat-dialog-title>{{ isEditMode ? 'Edit Post' : 'Add Post' }}</h2>
      </div>
      <div class=" gap-4 p-4">

        <div>
          <label for="title" class="block text-lg mb-2">Title:</label>
          <input type="text" id="title" class="w-full border border-gray-300 rounded-md p-2" [(ngModel)]="post.title" />
        </div>

        <div>
          <label for="featuredImage" class="block text-lg mb-2">Featured Image:</label>
          <input type="file" id="featuredImage" class="p-2" (change)="handleImageUpload($event)" accept="image/*" />
          <img [src]="imagePreview" alt="Selected Image"   *ngIf="imagePreview"  class="w-64 h-64 p-2 rounded"/>
        </div>
        <div class="col-span-2">
          <label for="content" class="block text-lg mb-2">Content:</label>
          <textarea id="content" class="w-full h-40 border border-gray-300 rounded-md p-2"
            [(ngModel)]="post.content"></textarea>
        </div>

        <div class="flex justify-end pr-16">
          <app-add-new-button buttonText="{{ isEditMode ? 'Update Post' : 'Submit Post'}}"  (click)="submitPost()"></app-add-new-button>
        </div>
      </div>
    </section>
  </div>
</section>
