<section>
  <mat-card>
    <mat-card-header>
      <h2 class="text-2xl font-bold mb-4">List of Licenses currently Zemen bank Uses</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="container mx-auto px-4 py-2">
        <div class="flex items-end justify-end mb-4">
          <button mat-raised-button color="accent" class="ml-2" routerLink="/resources/add" routerLinkActive="active">
            Add License</button>
        </div>
      </div>
      <app-license-table></app-license-table>
    </mat-card-content>
  </mat-card>
</section>
