<div class="flex flex-col h-screen">
  <div style="display: block;">
    <app-header [isAdmin]="isAdmin" [isLoggedIn]="isLoggedIn"></app-header>
  </div>
  <!-- <div class="sidenav-content text-left" style="width: 250px;"  *ngIf="isLoggedIn && isAdmin" >
    <button type="button" (click)="drawer.toggle()" style="width: 250px;"
      class="flex items-left justify-start align-middle place-self-center  px-4 py-2  rounded-t-lg">
      <div *ngIf="drawer.opened" class=" flex items-center justify-center align-middle place-self-center ">
        <mat-icon class="text-red-700">visibility_off</mat-icon>
      </div>
      <div *ngIf="!drawer.opened" class=" flex items-center justify-center align-middle place-self-center ">
        <mat-icon class="text-red-700">visibility_on</mat-icon>
      </div>
    </button>
  </div> -->
  <div class="flex">
    <mat-drawer #drawer class="example-sidenav hw-screen bg-gray-200" mode="side" [opened]="true">
      <div *ngIf="isLoggedIn" [ngStyle]="{ 'display': !drawer.opened ? 'none' : 'block' }">
        <app-sidebar class="h-screen" *ngIf="isAdmin" ></app-sidebar>
      </div>
    </mat-drawer>
    <div class="sidenav-content flex text-left bg-gray-300" *ngIf=" isAdmin">
      <button class="flex items-center justify-center w-6" (click)="drawer.toggle()">
        <div class="flex flex-col">
          <div *ngIf="drawer.opened"> <mat-icon class="text-red-700 text-2xl mb-1"> chevron_left
            </mat-icon>
          </div>
          <div *ngIf="!drawer.opened" class="flex items-center justify-center"> <mat-icon class="text-red-700 text-2xl"> chevron_right
            </mat-icon>
          </div>
        </div>
      </button>
    </div>
    <div class="flex-grow" [ngStyle]="{ 'width': drawer.opened ? 'calc(100% - 240px)' : '100%' }">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer class="mt-auto"></app-footer>
</div>
