<!-- sidebar.component.html -->
<nav class="sidebar-nav pb-8 ">
  <ul id="sidebarnav">
    <li class="sidebar-item">
      <img class="avatar mat-elevation-z8 rounded" src="../../../assets/user_avatar.png" />
      <h4 class="name">Yekoye Mihret</h4>
      <p class="designation">Senior IB Officer</p>
      <mat-divider></mat-divider>
    </li>
    <ul>
      <ng-container *ngFor="let item of sidebarnavItems">
        <li class="sidebar-item" [class.active]="isMenuItemActive(item)">
          <div class="nav-small-cap" *ngIf="item.extralink">
            {{ item.title }}
          </div>
          <a class="sidebar-link waves-effect waves-dark flex items-center space-x-2 cursor-pointer"
             [routerLink]="(item.class === '') ? [item.path] : null"
             [ngClass]="[item.class]"
             *ngIf="!item.extralink"
             (click)="addExpandClass(item.title)"
             [routerLinkActive]="(item.submenu.length !== 0) ? '' : 'active'">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span class="hide-menum">{{ item.title }}</span>
          </a>
          <ul *ngIf="showMenu === item.title || showMenu !== item.title" class="pl-8">
            <li class="sidebar-item" [class.active]="isSubMenuItemActive(subItem)" *ngFor="let subItem of item.submenu">
              <a class="sidebar-link waves-effect waves-dark flex items-center space-x-2 cursor-pointer"
                 [routerLink]="(subItem.class !== '') ? [subItem.path] : null"
                 [ngClass]="[subItem.class]"
                 [routerLinkActive]="(subItem.submenu.length !== 0) ? '' : 'active'">
                <span class="flex items-center">
                  <mat-icon>{{ subItem.icon }}</mat-icon>
                </span>
                <span class="hide-menum">{{ subItem.title }}</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>

    </ul>
  </ul>
</nav>
