
  <!-- <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon *ngIf="drawer.isOpen()">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="!drawer.isOpen()">keyboard_arrow_right</mat-icon>
    </button> -->
  <!-- </div> -->

  <!-- <mat-drawer #drawer class="example-sidenav" mode="side"> -->
  <nav class="sidebar-nav pb-8 hm-screen">
    <ul id="sidebarnav">
      <li class="sidebar-item">
        <img
          class="avatar mat-elevation-z8 rounded"
          src="../../../assets/user_avatar.png"
        />
        <h4 class="name">Yekoye Mihret</h4>
        <p class="designation">Senior IB Officer</p>
        <mat-divider></mat-divider>
      </li>
      <ul>
        <ng-container *ngFor="let sidebarnavItem of sidebarnavItems">
          <li
            class="sidebar-item"
            [class.active]="showMenu === sidebarnavItem.title"
          >
            <div
              class="nav-small-cap"
              *ngIf="sidebarnavItem.extralink === true"
            >
              {{ sidebarnavItem.title }}
            </div>
            <a
              class="sidebar-link waves-effect waves-dark flex items-center space-x-2 cursor-pointer"
              [routerLink]="
                sidebarnavItem.class === '' ? [sidebarnavItem.path] : null
              "
              [ngClass]="[sidebarnavItem.class]"
              *ngIf="!sidebarnavItem.extralink"
              (click)="addExpandClass(sidebarnavItem.title)"
              [routerLinkActive]="
                sidebarnavItem.submenu.length !== 0 ? '' : 'active'
              "
            >

            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
             <!-- <i [class]="iconData.icon" [style.color]="iconData.color"></i> -->
             <mat-icon>{{ sidebarnavItem.icon }}</mat-icon>
              <span class="flex items-center">
                <!--  <p-icon> {{ sidebarnavItem.icon }}</p-icon> -->
              </span>
              <span class="hide-menum">{{ sidebarnavItem.title }}</span>
            </a>

            <!-- Nested Submenu -->
            <ul *ngIf="showMenu === sidebarnavItem.title" class="pl-8">
              <li
                class="sidebar-item"
                [class.active]="showMenu === submenuItem.title"
                *ngFor="let submenuItem of sidebarnavItem.submenu"
              >
                <a
                  class="sidebar-link waves-effect waves-dark flex items-center space-x-2 cursor-pointer"
                  [routerLink]="
                    submenuItem.class !== '' ? [submenuItem.path] : null
                  "
                  [ngClass]="[submenuItem.class]"
                  [routerLinkActive]="
                    submenuItem.submenu.length !== 0 ? '' : 'active'
                  "
                >
                  <span class="flex items-center">
                    <mat-icon>{{ submenuItem.icon }}</mat-icon>
                  </span>
                  <span class="hide-menum">{{ submenuItem.title }}</span>
                </a>
              </li>
            </ul>
            <!-- End of Nested Submenu -->

            <!-- <mat-drawer-container class="example-container" autosize>




</mat-drawer-container> -->
            <!-- </li></ng-container
        >
      </ul>
    </ul>
  </nav></mat-drawer
> -->
          </li>
        </ng-container>
      </ul>
    </ul>
  </nav>
<!-- </mat-drawer> -->
