<section class="flex px-4 md:px-8 lg:px-16">
  <div class="w-full md:w-1/2 lg:w-1/2 p-4">
    <div>
      <h2 class="text-4xl text-neutral-500">Licenses Expiration Date Tracker</h2>
      <app-chart-data></app-chart-data>
    </div>
  </div>
  <div class="w-full md:w-1/2 lg:w-1/2 p-4">
    <div>
      <section class="cards-container w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
          <div class="card" *ngFor="let topcard of topcardsLicense">
            <!-- Card content goes here -->
            <div class="card-item">
              <a routerLink="../">
                <div class="bg-white rounded-lg shadow-lg p-6">
                  <div class="text-left">
                    <div
                      class="icon-container rounded-full flex align-center items-center justify-center h-16 w-16 {{ topcard.bgcolor }}">
                      <mat-icon>{{ topcard.icon }}</mat-icon>
                    </div>
                  </div>
                  <div class="text-center">
                    <span class="text-2xl font-semibold">{{ topcard.title }}</span>
                    <br>
                    <span class="text-gray-600">{{ topcard.subtitle }}</span>
                  </div>
                  <div class="mt-2 flex align-center items-center justify-center">
                    <a class="text-xl text-white" routerLink="{{topcard.link}}" mat-raised-button>Learn More</a>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<app-license-list></app-license-list>
