<footer class="footer bg-cover mx-8 p-8">
  <div class="over lay opacitny-90 footer-shadow">
    <div class="container mx-auto py-8 px-16 ">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- About Us Column -->
        <div class="text-white">
          <h3 class="text-xl font-bold title">About Us</h3>
          <div class="  mt-4">
            <!-- <img src="../../../assets/images/logos/logo.png" alt="Logo" class="w-32 h-32 mr-2"> -->
            <p class="text-white-900">
              Welcome to Zemen Bank, a leading financial institution committed to delivering
              innovative banking solutions tailored to meet the diverse needs of our customers.
            </p>
          </div>
        </div>
    
        <div class=" usefull text-left">
          <!--<h6 class="text-uppercase text-xl font-bold title">Team Members</h6>
  <ul class="menuitems">
    <li class="menuitem">
      <a href="https://www.linkedin.com/in/mickiaszerfu/"> Mikiyas Zerfu </a>
    </li>
    <li class="menuitem">
      <a  href="#"> Birhan Addisu </a>
    </li>
    <li class="menuitem">
      <a  href="#">Tewodros Nigussie</a>
    </li>
    <li class="menuitem">
      <a  href="#">Yekoye Mihret</a>
    </li>
    <li class="menuitem">
      <a href="#">Yonathan Abebe</a>
    </li>
    <li class="menuitem">
      <a href="#">fasika desalegn</a>
    </li>
    </ul>
  -->
          <!--<h3 class="text-xl font-bold mt-8">
            <a routerLinkActive="active" [routerLink]="['contact-us']">Contact Us</a>
          </h3>-->
        </div>
        <!-- Social Media and Contact Us Column -->
        <div class="text-white text-center">
          <div class="flex items-center mt-4">
            <div class="social-links-container">
              <h6 class="text-uppercase title">Social Links</h6>
              <ul class="list-inline social-links  items-center flex flex-row   ">
                <li class="list-inline-item py-1">
                  <button class="button">
                    <span class="icon" aria-hidden="true">
                      <img src="../../../assets/icons/social/icons8-facebook.svg">
                    </span>
                    <span class="button-text"><a href="https://www.facebook.com/ZemenBankEthiopia/ ">Facebook</a></span>
                  </button>
                </li>
                <li class="list-inline-item py-1">
                  <button class="button">
                    <div class="icon" aria-hidden="true">
                      <img src="../../../assets/icons/social/icons8-linkedin.svg">
                    </div>
                    <p>
                      <span class="button-text">
                        <a href="https://www.linkedin.com/company/zemen-bank-s-c-/mycompany/">Linkedin</a>
                      </span>
                    </p>
                  </button>
                </li>
                <li class="list-inline-item py-1">
                  <button class="button">
                    <div class="icon">
                      <img src="../../../assets/icons/social/icons8-youtube.svg">
                    </div>
                    <p>
                      <span class="button-text"> <a href=" https://www.youtube.com/@zemenbank107">YouTube</a></span>
                    </p>
                  </button>
                </li>
              </ul>
            </div>
            <!-- Add more social media icons as needed -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-800 py-4">
    <div class="container mx-auto text-center text-white"><p>
      &copy; {{ "2024" | date: 'yyyy' }} Zemen Bank. All rights reserved.
    </p>
      <p>Developed by <a href="http://www.linkedin.com/in/mickiaszerfu"><span class="font-bold">Digital Channel Management Online Banking Team</span></a>
      </p>
    </div>
  </div>
</footer>
