<div class="page">
  <div class="all-contain ">
    <section class="top-container flex flex-row items-center justify-center">
      <div class="home-top px-8">
        <div class="flex items-center justify-center">
          <div class="disvider">
            <app-lottie-animation></app-lottie-animation>
          </div>
        </div>
      </div>
      <div class="header-container flex items-center justify-center">
        <div class="title-container">
          <h1 class="title">Zemen Digital Channel Automation System: Streamline your workflow, empower your team.</h1>
          <h2 class="sub-title"> Simplify processes, enhance efficiency, and gain valuable insights.</h2>
          <div class="menu right-menu flex justify-start rounded py-4 ">
            <ul class="menu menuitems">
              <!-- <li class="notification w-full">
                <a routerLinkActive="active" [routerLink]="['login']" class="btn text-white font-bold" *ngIf="!isLoggedIn" >
                  <button class="button w-full"><mat-icon class="textxl">user</mat-icon> LOGIN TO ACCESS</button>
                </a>
              </li> -->
              <li class="notification w-full">

                <ng-container *ngIf="isLoggedIn; else elseBlock">
                  <a routerLinkActive="active" [routerLink]="['../resources/news']">
                    <button class="button w-full"> <mat-icon class="textxl">insert_drive_file</mat-icon> Latest News
                    </button>
                  </a>
                </ng-container>
                <ng-template #elseBlock>
                  <a routerLinkActive="active" [routerLink]="['../login']">
                    <button class="button w-full">
                      <mat-icon class="textxl">lock</mat-icon>
                      Login to see the latest News
                    </button>
                  </a>

                </ng-template>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <!-- <app-price-calculator> </app-price-calculator> -->
      </div>
    </section>

    <section class="middle-container">
      <div class="second-container">

        <!-- <div class="lottie-animation mt-10">
          <ng-lottie width="max-content" height="500px" [options]="options" (animationCreated)="onAnimate($event)">
          </ng-lottie>
        </div> -->
      </div>
    </section>
  </div>
</div>
