<main>

  <section class=" w-full align-center text-center ">
    <section class="gap">
      <div class="container">
        <div class="flex items-center justify-center bg-gray-100 py-10">
          <div class="max-w-4xl mx-auto">
            <div class="text-center">
              <img alt="icon" src="../../../../assets/images/logos/logo.png" class="mx-auto mb-3 w-32 h-32">
              <p class="text-gray-600">working on charity</p>
              <h2 class="text-3xl font-bold">We Help Children Stay Safe, Healthy and Learning.</h2>
            </div>
          </div>
        </div>
        <section class="body-wrapper w-full align-center text-center ">

          <div class="flex flex-wrap">
            <div class="w-full lg:w-2/3">
              <div class="about-text bg-white rounded-lg shadow-lg p-6 h-full">
                <p class="leading-relaxed text-left t">With over 22 years of experience in the hotel business and a
                  Master's degree in
                  Business Administration specializing in Project Management, Mr. George Constantine
                  is a seasoned professional in hotel operations. His fervent determination and passion
                  for the industry have positioned him as a valuable member of highly successful teams.
                  Since 2019, Mr. Constantine has served as the Chief Secretary under the Metropolitan
                  of Aksum in Ethiopia, where he has also provided support to the Church. In addition to
                  his professional achievements, he is a visionary leader in the world of philanthropy,
                  driven by a steadfast commitment to empowering African communities and promoting
                  sustainable development.
                  <br><br>
                  In 2023, Mr. George Constantine founded the CONSTANTINE AFRICAN FOUNDATION,
                  dedicated to driving positive change and transforming lives throughout the continent.
                  Recognizing the challenges faced by African communities, he established the
                  foundation as a catalyst for lasting transformation.
                  <br><br>
                  The foundation focuses on key areas such as Algacultures (Food Manufacturing)
                  Education, Healthcare, and Economic empowerment. Understanding the importance
                  of education, Mr. Constantine believes it is the key to unlocking individual and
                  community potential. To that end, the foundation willing established Especially in the
                  field of handicrafts such as carpentry and other crafts, Health Institutes in
                  underserved areas, offered Algacultures scholarships to deserving students, and
                  implemented Health vocational training programs.
                  <br><br>
                  Mr. Constantine also believes in the power of economic empowerment. The foundation
                  fosters sustainable economic opportunities through initiatives such as
                  entrepreneurship training, microfinance programs, and support for small-scale farmers
                  and artisans. By uplifting individuals and communities, the foundation contributes to
                  regional development and helps create a more prosperous Africa.
                  <br><br>
                  Through his relentless dedication, Mr. George Constantine has made a lasting impact
                  through the CONSTANTINE AFRICAN FOUNDATION. His vision, leadership, and
                  commitment to positive change have inspired countless individuals and organizations
                  to join the cause. Together, they work towards a brighter future for Africa, where
                  access to education, healthcare, and economic opportunities is available to all.
                  <br><br>
                  Together, they are making a lasting impact and creating a brighter future for Africa.

                  <br><br>
                </p>
              </div>
            </div>
            <div class="w-full lg:w-1/3 lg:pl-8">
              <div class="poor-boy-data bg-white rounded-lg shadow-lg p-6 h-full">

                <div class="w-full text-left align-left mt-auto">
                  <img class="pt-3  h-full rounded" alt="signature" src="assets/images/boards/george.jpg">
                  <h3 class="pt-5 text-2xl font-bold">Mr. George Constantine</h3>
                  <span class="text-gray-600">Philanthropist and Founder of CONSTANTINE AFRICAN FOUNDATION,</span>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 lg:w-1/2">
              <div class="about-img hoverimg overflow-hidden bg-white  p-16">
                <figure>
                  <img alt="img" src="../../../../assets/images/Bg/AGRICULTURE.png"
                    class="w-full h-full object-cover transition duration-300 transform hover:scale-105 rounded"
                    style="border-radius:44px">
                </figure>
              </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/2">
              <div class="about-img hoverimg overflow-hidden bg-white  p-16">
                <figure>
                  <img alt="img" src="../../../../assets/images/Bg/EDUCATION.png"
                    class="w-full h-full object-cover transition duration-300 transform hover:scale-105"
                    style="border-radius:44px">
                </figure>
              </div>
            </div>
          </div>
          <section class="fundraising gap no-bottom bg-cover bg-center" >
            <div class="container py-16">
              <div class="max-w-4xl mx-auto">
                <div class="text-center">
                  <img alt="icon" src="../../assets/images/blogs/ABOUT US3.png" class="mx-auto mb-3 w-32 h-32">
                  <p class="text-dark py-4">Fundraising and Events</p>
                  <h2 class="text-3xl font-bold text-dark py-4">Start a Fundraiser</h2>
                </div>
              </div>
              <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
                <div class="flex items-center justify-center p-6 bg-emerald-900 rounded-lg shadow-lg">
                  <div class="flex items-center justify-center w-64 h-16 bg-white text-emerald-900 rounded-full">
                    <!-- <mat-icon class="text-lg font-bold">people</mat-icon> -->
                  </div>
                  <div class="ml-4">
                    <h3 class="text-xl font-bold text-white hover:text-green-400 py-4 font-ubuntu">Find a Service</h3>
                    <p class="text-white text-gray-300 font-ubuntu">The foundation welcomes volunteers who share their
                      vision and passion for making
                      a difference in Africa. You can reach out to them through their website to inquire about
                      volunteer opportunities.</p>
                  </div>
                </div>
                <div class="flex items-center justify-center p-6 bg-emerald-900 rounded-lg shadow-lg">
                  <div class="flex items-center justify-center w-64 h-16 bg-white text-emerald-900 rounded-full">
                    <!-- <mat-icon class="text-lg font-bold">public</mat-icon> -->
                  </div>
                  <div class="ml-4">
                    <h3 class="text-xl font-bold text-white hover:text-green-400 py-4 font-ubuntu">Support Volunteers /
                      Divine Liturgy</h3>
                    <p class="text-white text-gray-300 font-ubuntu">The Divine Liturgy is the central worship service of
                      the Orthodox Church. It is a celebration of the Eucharist, where the faithful gather to
                      participate in the sacrament of Holy Communion.</p>
                  </div>
                </div>
                <div class="flex items-center justify-center p-6 bg-emerald-900 rounded-lg shadow-lg">
                  <div class="flex items-center justify-center w-64 h-16 bg-white text-emerald-900 rounded-full">
                    <!-- <mat-icon class="text-lg font-bold">healing</mat-icon> -->
                  </div>
                  <div class="ml-4">
                    <h3 class="text-xl font-bold text-white hover:text-green-400 py-4 font-ubuntu">Lenten Retreat</h3>
                    <p class="text-white text-gray-300 font-ubuntu">The Lenten Retreat is a spiritual retreat organized
                      during the fasting season of Great Lent. It offers opportunities for reflection, prayer, and
                      learning about the Orthodox faith.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </div>
    </section>
  </section>
</main>
