<main>

  <section class=" w-full align-center text-center ">
    <section class="gap">
      <div class="container">
        <div class="flex items-center justify-center bg-gray-100 py-10">
          <div class="max-w-4xl mx-auto">
            <div class="text-center">
              <img alt="icon" src="../../../../assets/logo.png" class="mx-auto mb-3 w-32 h-32">
              <p class="text-gray-600">working your accounts</p>
              <h2 class="text-3xl font-bold">We Help Clients to easy and reliable Internet abnking use.</h2>
            </div>
          </div>
        </div>
        <section class="body-wrapper w-full align-center text-center ">

          <div class="flex flex-wrap">
            <div class="w-full lg:w-2/3">
              <div class="about-text bg-white rounded-lg shadow-lg p-6 h-full">
                <p class="leading-relaxed text-left t">
                  Internet banking is
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod beatae corrupti quam veniam numquam quia
                  pariatur magnam sapiente odit! Aliquid enim ea quos eius ut error. Non cum ex soluta?
                </p>
              </div>
            </div>
            <div class="w-full lg:w-1/3 lg:pl-8">
              <div class="poor-boy-data bg-white rounded-lg shadow-lg p-6 h-full">

                <div class="w-full text-left align-left mt-auto">
                  <img class="pt-3  h-full rounded" alt="signature" src="../../../assets/yekoye.png">
                  <h3 class="pt-5 text-2xl font-bold">Mr. Tadesse FikreMarkos </h3>
                  <span class="text-gray-600">IB Manager</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</main>
