<main>

  <section class=" w-full align-center text-center pt-4">
    <section class="gap">
      <div class="container">
        <div class="flex items-center justify-center py-10 hero-section">
          <div class="max-w-4xl mx-auto">
            <div class="text-center">
            </div>
          </div>
        </div>
        <section class="body-wrapper w-full align-center text-center ">
              <h2 class="text-3xl font-bold">We Help Clients to easy and reliable Internet abnking use.</h2>

          <div class="flex flex-wrap">
            <div class="w-full lg:w-2/3">
              <div class="about-text bg-white rounded-lg shadow-lg p-6  ">
                <p class="leading-relaxed text-left t">Welcome to Zemen Bank, a leading financial institution committed
                  to delivering innovative banking solutions tailored to meet the diverse needs of our customers.</p>
              </div>
              <div class="about-text bg-white rounded-lg shadow-lg p-6  ">
                <h2 class="text-xl font-bold">Our Vision</h2>
                <p class="leading-relaxed text-left t">Our vision is to revolutionize the banking experience by
                  seamlessly integrating cutting-edge technology with exceptional customer service. Through our digital
                  channels, we aim to empower our customers with convenient, secure, and efficient banking solutions
                  that enhance their financial well-being</p>
              </div>
              <div class="about-text bg-white rounded-lg shadow-lg p-6  ">
                <h2 class="text-xl font-bold">Digital Channel Management</h2>
                <p class="leading-relaxed text-left t">Zemen Bank's Digital Channel Management encompasses a range of
                  digital platforms and tools designed to provide our customers with unparalleled access to banking
                  services. From mobile banking applications to online banking portals, we offer a comprehensive suite
                  of digital solutions that cater to the evolving needs of modern-day banking.</p>
              </div>
              <div class="about-text bg-white rounded-lg shadow-lg p-6  ">
                <h2 class="text-xl font-bold">Internet Banking</h2>
                <p class="leading-relaxed text-left t">Our Internet Banking platform serves as a gateway to a world of
                  financial convenience. With Zemen Bank's Internet Banking, customers can securely manage their
                  accounts, transfer funds, pay bills, and conduct various banking transactions from the comfort of
                  their homes or offices. Our user-friendly interface and robust security measures ensure a seamless and
                  worry-free online banking experience.</p>
              </div>

            </div>
            <div class="w-full lg:w-1/3 lg:pl-8">
              <div class="poor-boy-data bg-white rounded-lg shadow-lg p-6  ">

                <div class="w-full text-left align-left mt-auto">
                  <img class="pt-3  h-full rounded" alt="signature" src="../../../assets/user_avatar.png">
                  <h3 class="pt-5 text-2xl font-bold">Mr. Tadesse FikreMarkos </h3>
                  <span class="text-gray-600">Digital Channel Department Online Banking Manager</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</main>
