<div class="user-management-container">
  <!-- User management status -->

  <!-- Dashboard and Breadcrumbs -->
  <div class="dashboard-section   p-8 ">
    <div class="mb-4">
      <div class="flex justify-around ">
        <h2 class="text-lg font-semibold">User Management Dashboard</h2>
        <span class="flex-grow"></span>
        <div class="flex justify-between">
          <mat-form-field appearance="outline" class="justify-center align-middle">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Search Users">
          </mat-form-field>
          <div class="flex justify-end pr-2 pl-8">
            <app-add-new-button buttonText="Add New User" [routerLink]="['../users/add']"></app-add-new-button>
          </div>
        </div>
      </div>
      <div class="flex justify-start pr-2 pl-8 mb-8">
        <button class="bg-red-500 hover:bg-red-700 text-white font-semi-bold py-2 px-4 rounded" type="button"
          [routerLink]="['../users/lists']">List of Users</button>
      </div>
    </div>
  </div>
</div>
