<div class="p-8 text-4xl">
  <div class="flex justify-between">
    <h2> Customer User Information</h2>
  </div>

  <section class="cards-container w-full">
    <section>
      <div class="flex justify-between px-16">
        <div class="card" *ngFor='let topcard of topcardsIb'>
          <!-- Card content goes here -->
          <div class="card-item ">
            <div class="bg-white rounded-lg shadow-lg p-6 h-full">
              <div class="text-left">
                <div
                  class="icon-container rounded-full flex align-center items-center justify-center h-16 w-16" [class]="topcard.bgcolor">
                  <!-- <i class="pi" [class]="topcard.icon" style="font-size: 2rem"></i> -->
                  <!-- <mat-spinner diameter="24"  > -->
                    <mat-icon>{{topcard.icon}}</mat-icon>
                  <!-- </mat-spinner> -->
                </div>
              </div>
              <div class="text-center mt-4">
                <span class="text-2xl font-semibold">{{topcard.title}}</span>
                <br>
                <span class="text-gray-600">{{topcard.subtitle}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

</div>
