.pie-chart{
  padding: 20px;
  width: 300px !important;
  height: 300px !important;
}
.highcharts-credits{
    visibility:hidden !important;
    display: none !important;
}
.highcharts-title,
.highcharts-credits {
  display: none;
}
article{
  width: 300px !important;
  height: 300px !important;

}
