<!-- incident-create.component.html -->
<div class="p-6">

  <section class="hero-section bg-cover bg-center">
    <div class="hero-content text-left pt-8 pb-8">
      <h2 class="text-4xl font-bold text-red-700">{{ isEditMode ? 'Edit Registered': 'Create New' }}  Knowledge Entry</h2>
    </div>
  </section>
  <form [formGroup]="knowledgeForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Problem</mat-label>
      <input matInput formControlName="problem" placeholder="Enter problem">
      <mat-error *ngIf="knowledgeForm.controls['problem'].invalid && (knowledgeForm.controls['problem'].dirty || knowledgeForm.controls['problem'].touched)">
        <span *ngIf="knowledgeForm.controls['problem'].hasError('required')">Problem title is required.</span>
        <span *ngIf="knowledgeForm.controls['problem'].hasError('minlength')">Problem title should be at least 5 characters long.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Problem Description</mat-label>
      <textarea matInput formControlName="problemDescription" placeholder="Enter problem description" rows="5"></textarea>
      <mat-error *ngIf="knowledgeForm.controls['problemDescription'].invalid && (knowledgeForm.controls['problemDescription'].dirty || knowledgeForm.controls['problemDescription'].touched)">
        <span *ngIf="knowledgeForm.controls['problemDescription'].hasError('required')">Problem Description is required.</span>
        <span *ngIf="knowledgeForm.controls['problemDescription'].hasError('minlength')">Problem description should be at least 20 characters long.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Solution</mat-label>
      <textarea matInput formControlName="solution" placeholder="Enter solution" rows="5"></textarea>
      <mat-error *ngIf="knowledgeForm.controls['solution'].invalid && (knowledgeForm.controls['solution'].dirty || knowledgeForm.controls['solution'].touched)">
        <span *ngIf="knowledgeForm.controls['solution'].hasError('required')">Incident title is required.</span>
        <span *ngIf="knowledgeForm.controls['solution'].hasError('minlength')">solution should be at least 10 characters long.</span>
      </mat-error>
    </mat-form-field>

    <div class="mt-4">
      <div class="flex justify-end">
        <button class="bg-red-500 hover:bg-red-700 text-white font-semi-bold py-2 px-4 rounded" type="submit">
          {{ isEditMode ? 'Update' : 'Submit' }} Knowledge to Knowledge Base</button>
      </div>
    </div>
  </form>
</div>
