<section>
  <h1 class="text-4xl font-bold text-gray-800 p-4">Resource Sharing Dashboard</h1>
  <div class="flex flex-wrap justify-between px-16">
    <div class="card" class="w-full md:w-1/2 xl:w-1/4 p-4" *ngFor='let topcard of topcardsResource'>
      <div class="card-item " [routerLink]="topcard.link">
        <div class="bg-white rounded-lg shadow-lg p-6 h-full">
          <div class="text-left">
            <div [ngStyle]="{'background-color': topcard.bgcolor}"
              class="icon-container  rounded-full flex align-center items-center justify-center h-16 w-16">
              <mat-icon class="text-lg">{{topcard.icon}}</mat-icon>
            </div>
          </div>
          <div class="text-center mt-4">
            <span class="text-2xl font-semibold">{{topcard.count}}</span>
            <br>
            <span class="text-gray-600">{{topcard.subtitle}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="border-t-2 border-gray-300 my-6">
