<section class="px-8">
  <div class="flex">
    <section class="body-wrapper w-full align-center text-center">
      <section class="header">
        <div class="title-container">
          <h1 class="title text-4xl pb-8 ">Wel Come IB User</h1>
        </div>
      </section>
      <section class="flex px-16">
        <div class="w-1/2">
          <div >
           <app-chart-data></app-chart-data>
          </div>
        </div>
        <div class="w-1/2">
          <div >
           <app-chart-data></app-chart-data>
          </div>
        </div>
      </section>
      <section>
        <h1 class="title text-4xl pb-8 ">Transaction Monitoring </h1>
        <!-- Other sections -->
        <app-transaction-dashboard> </app-transaction-dashboard>
      </section>
    </section>
  </div>
</section>
